.center.intro
  h1.x-large ThoughtNirvana endorses open source. 
  p.large Many of the web biggies viz. Google, Amazon depend on open source software.
  p.large We have benefitted a lot from open source.
  p.large So to return the favor, we open source all non critical code.
