#services.container.services
  br
  .section

    .row.center
      h5.col.s12 ThoughtNirvana converts your requirements into functioning and reliable software.
    .row.center
      - services.each do |service|
        .col.s12.m6.l4
          div[class="topic card-panel waves-effect waves-light waves-ripple hoverable #{service['class']}"]
            h3.left = service["header"]
            p.left = service["description"]

#parallax-container1.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h4.header.col.s12.dark = tenets[0]["header"]
        h5.header.col.s12.dark = tenets[0]["description"]
  .parallax
    img src="../img/1.jpg" alt="Unsplashed background img 2"

#clients.container
  br
  .section
    .row.center.margintop50
      h5 We've worked with organizations of various sizes.
    .row.center
      - clients.each do |client|
        div[class="logowrap #{client['name']} col s6 m4 l2"]
          div
            .logo
              img.responsive-img src="img/Logos/#{client['logo']}"
    .row.center
      .col.s12
        .slider
          ul.slides
            - testimonials.each do |testimonial|
              li
                .caption.right-align
                  blockquote = testimonial['say']
                  h5
                    i = testimonial['name']


#parallax-container2.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h4.header.col.s12.dark = tenets[1]["header"]
        h5.header.col.s12.dark = tenets[1]["description"]
  .parallax
    img src="../img/2.jpg" alt="Unsplashed background img 3"

#hows.container.hows
  br
  .section
    .row.center.margintop50
      h5.heading The ThoughtNirvana way.
      h5.sub-heading Software for the humans, by the humans.
      h5.sub-heading We believe software is a facilitator.
      h5.sub-heading We build software that obeys you, not the other way round.
      .marginbot50
    .row.center
      - hows.each do |how|
        .row
          .col.s12.m6.l6
            i.material-icons.medium = "#{how['icon']}"
            h1 = how["header"]
          .col.s12.m6.l6
            h4.thin = how["subheader"]
            p.light = how["description"]


#code.container
  br
  .section

    .row.center.margintop50
      h4.heading ThoughtNirvana endorses open source
      h5.sub-heading Many of the biggies viz. Google, Amazon depend on open source software
      h5.sub-heading We have benefitted a lot from open source
      h5.sub-heading So to return the favor, we open source all non critical code
      h5.sub-heading
        'Don't forget to check us out on
        a.github href="https://github.com/organizations/thoughtnirvana" Github

      .row.left
        - repos.each do |repo|
          .col.s6.m4.l3
            div[class="repo card-panel waves-effect waves-light waves-ripple hoverable"]
              h7 = repo["language"]
              br
              a href=repo["link"] = repo["header"]
              p.light = repo["description"]


#parallax-container3.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center
        h4.header.col.s12.dark = tenets[2]["header"]
        h5.header.col.s12.dark = tenets[2]["description"]
  .parallax
    img src="../img/3.jpg" alt="Unsplashed background img 3"

#team.container
  br
  .section
    .row.center.margintop50
      h4 MEET THE TEAM
    .row
      .col.s12.m6.l6
        img.responsive-img.card-panel.waves-effect.waves-light.waves-ripple.hoverable src="img/rahul.jpg"
      .col.s12.m6.l6
        .programmer1.card-panel.waves-effect.waves-light.waves-ripple.light-green.lighten-4.hoverable
          h5 Rahul Kumar
          p.light  Started Programming in high school
          p.light  List of Programming languages and framework that he hasn't played with is very short
          p.light  Loves solving complex issues related to preformance
          p.light  Uses Ubuntu
          p.light  Drinks black coffee and Beer
          p.light  Eats whatever is available
          p.light  Latest TV Show: Elementary
          p.light  Latest Movie: Deadpool
          p.light  Can bench 100kg in sleep
    .row
      .col.s12.m6.l6
        .programmer2.card-panel.waves-effect.waves-light.waves-ripple.purple.lighten-4.hoverable
          h5.thin Ujjawal Asthana
          p.light  Lost his programming virginity to C but is currently married to Rails and shares a room with Web Development
          p.light  Is also good friends with Python and hangs out a lot with Javascript
          p.light  Screams in Joy when comes across a stylish but fast web application
          p.light  Uses Mac + Thinkpad
          p.light  Drinks tea and Beer
          p.light  Eats Chicken followed by Chicken
          p.light  Latest TV Show: The Flash
          p.light  Latest Moview: Deadpool
          p.light  Can do 10 Dragon Flags without breaking a sweat
      .col.s12.m6.l6
        img.responsive-img.card-panel.waves-effect.waves-light.waves-ripple.hoverable src="img/ujj.jpg"

#contacts.container.contacts
  br
  .section

    .row.center.margintop100
      .col.s12.m12.l4
        .careers.card-panel.waves-effect.waves-light.waves-ripple.hoverable
          h4.thin Careers
          p: a href="mailto:jobs@thoughtnirvana.com" jobs@thoughtnirvana.com
          p.light Do you like what we do?
          p.light Or think you can make things better?
          p.light Do you live and breathe code?
          p.light Or are the best business guy in the game?
          p.light Our doors are open.
      .col.s12.m12.l4
        .hire.card-panel.waves-effect.waves-light.waves-ripple.purple.lighten-4.hoverable
          h1 Hire Us
          strong: a href="mailto:biz@thoughtnirvana.com" biz@thoughtnirvana.com
          p.light First step is half the battle
          p.light Do you want to revolutionize your business?
          p.light Or implement something never heard of before?
          p.light Or save money by automating existing processes?
          p.light Give us a shout
      .col.s12.m12.l4
        .media.card-panel.waves-effect.waves-light.waves-ripple.hoverable
          h4.thin Media Enquiry
          p: a href="mailto:media@thoughtnirvana.com" media@thoughtnirvana.com
          p.light Queries regarding press or marketing?
