.center.intro
  h1.x-large Work with us 
  p.large First step is half the battle 
  p.large Simple, plain software development?
  p.large Or implement something never heard of before?
  p.large Or save money by automating existing processes?
  p.large Give us a shout
  p.large: a href="mailto:biz@thoughtnirvana.com" biz@thoughtnirvana.com

.center.intro
  h1.x-large Careers 
  p.large Do you like what we do? 
  p.large Or think you can make things better? 
  p.large Do you live and breathe code? 
  p.large Or are the best business guy in the game? 
  p.large Our doors are open. 
  p.large: a href="mailto:jobs@thoughtnirvana.com" jobs@thoughtnirvana.com

.center.intro
  h1.x-large Media enquiry 
  p.large Queries regarding press or marketing?
  p.large: a href="mailto:media@thoughtnirvana.com" media@thoughtnirvana.com

